@import "./../../../assets/scss/airbnb-variables";

.footer {
  background-color: $footerBgColor;

  .footer-section {
    h3 {
      font-weight: 600;
    }

    ul li a {
      transition: color 0.2s ease;

      &:hover {
        color: #222;
      }
    }
  }
}
